* {
  box-sizing: border-box;
}

input{
  height:40px;
  width:80%;
  border:none;
  font-size:18px;
  padding-left:15px;
}

.owl-stage .owl-item{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius:10px;
  min-height:40vh;
  min-width:50vh;
  box-shadow: 0 8px 20px -2px rgba(0,0,0, .2);
}

.owl-stage{
  min-height:50vh;
}

.title{
  display:block;
  width:70%;
  margin:40px auto;
}

body{
  background-color:#FAC3C0;
}

.logo{
  display:block;
  width:10%;
  margin:0 auto;
}
