@font-face {
  font-family: 'DearType';
  src: url('../DearType.otf');
  src: url('../DearType.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.owl-stage > .owl-item{
  margin-top:40px;
}

.owl-item > .owl-item{
  display:flex;
  align-items: center;
  flex-flow:wrap;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 20px -2px rgba(0,0,0, .2);
  font-family:'DearType';
  font-size: calc(16px + 0.5vw);
  line-height: calc(1.1em + 0.5vw);
  word-break: break-all;
  padding:40px;
  min-width:200px;
  max-width:400px;
  min-height:150px;
}

.owl-item{
  padding: 20px;
}